#canvas {
  border-color: rgb(139, 72, 33);
  border-radius: 5px;
  
  background-color: rgba(134, 248, 248, 0.466);
}

#home {
  margin: 0;
  width: 100%;
  height: 1000px;
  text-align: center;
  
  justify-content: center;
  justify-items: center;
}

.again {
  all: unset;
  cursor: pointer;
  font-family: 'Jua', sans-serif;
  border: 2px solid rgb(6, 194, 69);
  border-radius: 5px;
  letter-spacing: 4px;
  width: 380px;
  height: 200px;
  text-align: center;
}

.hidden {
  display: none;
}